<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.easy.reminder.plugin">
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <application>
        <receiver android:name=".ReminderReceiver" android:exported="false">
            <intent-filter>
                <action android:name="com.easy.reminder.ACTION_FIRE" />
            </intent-filter>
        </receiver>
        <receiver android:name=".BootReceiver" android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.TIME_CHANGED" />
                <action android:name="android.intent.action.TIMEZONE_CHANGED" />
                <action android:name="android.intent.action.MY_PACKAGE_REPLACED" />
            </intent-filter>
        </receiver>
    </application>
</manifest>
